<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of customers</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/v5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/sweetalert2/v11.7.12/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/bootstrap/v5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="rounded">
            <div class="col-lg-6">
                <h1>List of Customers</h1>
            </div>
            <div class=" header-right-button col-lg-6">
                <a href="#">
                    <button class="btn btn-outline-light">
                        <i class="fas fa-history"></i>
                        Transfer history
                    </button>
                </a>

                <button class="btn btn-outline-light" id="btnCreateShowModal">
                    <i class="fas fa-user-plus"></i> Add new Customer
                </button>
            </div>
        </header>
        <div class="content">
            <table class="table table-hover" id="tbCustomer">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>FullName</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Phone</th>
                    <th>Address</th>
                    <th class="text-end">Balance</th>
                    <th colspan="5" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <th:block th:replace="customer/modalCreate"/>
    <th:block th:replace="customer/modalDeposit"/>
    <th:block th:replace="customer/modalUpdate"/>
    <th:block th:replace="customer/modalWithdraw"/>
    <th:block th:replace="customer/modalTransfer"/>

    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/sweetalert2/v11.7.12/sweetalert2.all.min.js"></script>

    <script>
        const page = {
            url: {
                getAllCustomers: App.API_CUSTOMER,
                getCustomerById: App.API_CUSTOMER,
                createCustomer: App.API_CUSTOMER,
                updateCustomer: App.API_CUSTOMER,
                deposit: App.API_DEPOSIT,
                withdraw: App.API_WITHDRAW,
                transfer: App.API_TRANSFER,
            },
            elements: {

            },
            loadData: {

            },
            commands: {},
            dialogs: {
                elements: {},
                commands: {}
            },
            initializeControlEvent: {}
        }

        page.elements.btnShowCreateModal = $('#btnCreateShowModal');
        page.elements.tbCustomerBody = $('#tbCustomer tbody');

        page.dialogs.elements.modalCreate = $('#modalCreate');
        page.dialogs.elements.errorAreaCreate = $('#modalCreate .error-area')
        page.dialogs.elements.fullNameCre = $('#fullNameCre');
        page.dialogs.elements.emailCre = $('#emailCre');
        page.dialogs.elements.phoneCre = $('#phoneCre');
        page.dialogs.elements.addressCre = $('#addressCre');
        page.dialogs.elements.btnCreate = $('#btnCreate');

        page.dialogs.elements.modalUpdate = $('#modalUpdate');
        page.dialogs.elements.errorAreaUpdate = $('#modalUpdate .error-area');
        page.dialogs.elements.frmUpdate = $('#frmUpdate');
        page.dialogs.elements.fullNameUp = $('#fullNameUp');
        page.dialogs.elements.emailUp = $('#emailUp');
        page.dialogs.elements.phoneUp = $('#phoneUp');
        page.dialogs.elements.addressUp = $('#addressUp');
        page.dialogs.elements.btnUpdate = $('#btnUpdate');

        page.dialogs.elements.modalDeposit = $('#modalDeposit');
        page.dialogs.elements.errorAreaDeposit = $('#modalDeposit .error-area');
        page.dialogs.elements.frmDeposit = $('#frmDeposit');
        page.dialogs.elements.idDeps = $('#idDeps');
        page.dialogs.elements.fullNameDeps = $('#fullNameDeps');
        page.dialogs.elements.balanceDeps = $('#balanceDeps');
        page.dialogs.elements.transactionAmount = $('#transactionAmount');
        page.dialogs.elements.btnSaveDeposit = $('#btnSaveDeposit')

        page.dialogs.elements.modalWithdraw = $('#modalWithdraw');
        page.dialogs.elements.errorAreaWithdraw = $('#modalWithdraw .error-area');
        page.dialogs.elements.frmWithdraw = $('#frmWithdraw');
        page.dialogs.elements.idWdr = $('#idWdr');
        page.dialogs.elements.fullNameWdr = $('#fullNameWdr');
        page.dialogs.elements.balanceWdr = $('#balanceWdr');
        page.dialogs.elements.transactionAmountWdr = $('#transactionAmountWdr');
        page.dialogs.elements.btnSaveWithdraw = $('#btnSaveWithdraw')

        page.dialogs.elements.modalTransfer = $('#modalTransfer');
        page.dialogs.elements.errorAreaTransfer = $('#modalTransfer .error-area');
        page.dialogs.elements.frmTransfer = $('#frmTransfer');
        page.dialogs.elements.idSender = $('#idSender');
        page.dialogs.elements.fullNameSender = $('#fullNameSender');
        page.dialogs.elements.emailSender = $('#emailSender');
        page.dialogs.elements.balanceSender = $('#balanceSender');
        page.dialogs.elements.recipientTrf = $('#recipientTrf');
        page.dialogs.elements.transferMoney = $('#transferMoney');
        page.dialogs.elements.total = $('#total');
        page.dialogs.elements.btnSaveTransfer = $('#btnSaveTransfer');


        let customerId = 0;
        let customer = new Customer();
        let deposit = new Deposit();

        page.commands.renderCustomers = (obj) => {
            return `
        <tr id="tr_${obj.id}">
            <td class="text-center">${obj.id}</td>
            <td >${obj.fullName}</td>
            <td class="text-center">${obj.email}</td>
            <td class="text-center">${obj.phone}</td>
            <td >${obj.address}</td>
            <td class="text-end">${obj.balance}</td>
            <td>
                <button class="btn btn-outline-secondary edit" data-id="${obj.id}">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-outline-success deposit" data-id="${obj.id}">
                    <i class="fas fa-plus"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-outline-warning withdraw" data-id="${obj.id}">
                    <i class="fas fa-minus"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-outline-primary transfer" data-id="${obj.id}">
                    <i class="fas fa-exchange-alt"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-outline-danger delete" data-id="${obj.id}">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    `;
        }

        page.commands.getAllCustomers = () => {

            page.elements.tbCustomerBody.empty();

            $.ajax({
                type: 'GET',
                url: page.url.getAllCustomers
            })
                .done((data) => {
                    data.forEach(item => {
                        const str = page.commands.renderCustomers(item);
                        page.elements.tbCustomerBody.prepend(str);

                    });
                })
                .fail((error) => {
                    console.log(error);
                })
        }

        page.commands.getCustomerById = (id) => {
            return $.ajax ({
                type: 'GET',
                url: page.url.getCustomerById + '/' + id,
            });

        }

        page.dialogs.commands.create = () => {
            const fullName = page.dialogs.elements.fullNameCre.val();
            const email = page.dialogs.elements.emailCre.val();
            const phone = page.dialogs.elements.phoneCre.val();
            const address = page.dialogs.elements.addressCre.val();
            const balance = 0;
            const deleted = 0;

            const obj = {
                fullName,
                email,
                phone,
                address,
                balance,
                deleted
            }

            $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: 'POST',
                url: page.url.createCustomer,
                data: JSON.stringify(obj)
            })
                .done((data) => {
                    const str = page.commands.renderCustomers(data);

                    page.elements.tbCustomerBody.prepend(str);
                    page.dialogs.elements.fullNameCre.val("");
                    page.dialogs.elements.emailCre.val("");
                    page.dialogs.elements.phoneCre.val("");
                    page.dialogs.elements.addressCre.val("");
                    // handleAddAllEvent();
                    page.dialogs.elements.modalCreate.modal('hide');
                })
                .fail((error) => {
                    const responseJSON = error.responseJSON;

                    page.dialogs.elements.errorAreaCreate.empty();
                    let str = '';

                    $.each(responseJSON, (k, v) => {
                        str += `<label for="${k}Dep">${v}</label>`
                    })

                    page.dialogs.elements.errorAreaCreate.append(str).removeClass('hide').addClass('show');
               })
        }

        page.dialogs.commands.update = () => {
            const fullName = page.dialogs.elements.fullNameUp.val();
            const email = page.dialogs.elements.emailUp.val();
            const phone = page.dialogs.elements.phoneUp.val();
            const address = page.dialogs.elements.addressUp.val();


            customer.fullName = fullName;
            customer.email = email;
            customer.phone = phone;
            customer.address = address;
            $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: 'PATCH',
                url: page.url.updateCustomer + '/' + customerId,
                data: JSON.stringify(customer)
            })
                .done((data) => {
                    const str = page.commands.renderCustomers(data);
                    const currentRow = $('#tr_'+customerId);
                    currentRow.replaceWith(str);
                    App.showSuccessAlert("Update thành công!")
                    page.dialogs.elements.modalUpdate.modal('hide');
                })
                .fail((error) => {
                    const responseJSON = error.responseJSON;

                    page.dialogs.elements.errorAreaUpdate.empty();
                    let str = '';

                    $.each(responseJSON, (k, v) => {
                        str += `<label for="${k}Dep">${v}</label>`
                    })

                    page.dialogs.elements.errorAreaUpdate.append(str).removeClass('hide').addClass('show');
                })
        }

        page.dialogs.commands.deposit = () => {

            const transactionAmount = $('#transactionAmount').val();

            const obj = {
                customerId,
                transactionAmount
            }

            $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: 'POST',
                url: page.url.deposit + '/' + customerId,
                data: JSON.stringify(obj)
            })
                .done((data) => {
                    const strData = page.commands.renderCustomers(data);
                    const currentRow = $('#tr_' + customerId);
                    currentRow.replaceWith(strData);
                    App.showSuccessAlert('Nạp tiền thành công!');

                    page.dialogs.elements.transactionAmount.val('');
                    page.dialogs.elements.balanceDeps.val(data.balance);
                    page.dialogs.elements.modalDeposit.modal('hide');
                })
                .fail((jqXHR) => {
                    const responseJSON = jqXHR.responseJSON;

                    page.dialogs.elements.errorAreaDeposit.empty();
                    let str = '';

                    $.each(responseJSON, (k, v) => {
                        str += `<label for="${k}Dep">${v}</label>`
                    })

                    page.dialogs.elements.errorAreaDeposit.append(str).removeClass('hide').addClass('show');
                })
        }

        page.dialogs.commands.withdraw = () => {

            const transactionAmountWdr = $('#transactionAmountWdr').val();

            const obj = {
                customerId,
                transactionAmountWdr
            }

            $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: 'POST',
                url: page.url.withdraw + '/' + customerId,
                data: JSON.stringify(obj)
            })
                .done((data) => {
                    const strData = page.commands.renderCustomers(data);
                    const currentRow = $('#tr_' + customerId);
                    currentRow.replaceWith(strData);
                    App.showSuccessAlert('Rút tiền thành công!');

                    page.dialogs.elements.transactionAmountWdr.val('');
                    page.dialogs.elements.balanceWdr.val(data.balance);
                    page.dialogs.elements.modalWithdraw.modal('hide');
                })
                .fail((jqXHR) => {
                    const responseJSON = jqXHR.responseJSON;

                    page.dialogs.elements.errorAreaWithdraw.empty();
                    let str = '';

                    $.each(responseJSON, (k, v) => {
                        str += `<label for="${k}Dep">${v}</label>`
                    })

                    page.dialogs.elements.errorAreaWithdraw.append(str).removeClass('hide').addClass('show');
                })
        }

        page.dialogs.commands.transfer = () => {
            const recipientId = page.dialogs.elements.recipientTrf.val();
            const transferMoney = page.dialogs.elements.transferMoney.val();

            let transfer ={
                recipientId,
                transferMoney,
            }

            $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: "POST",
                url: page.url.transfer + '/' + customerId,
                data: JSON.stringify(transfer)
            })
                .done((data) => {
                    data.forEach(item => {
                        const strData = page.commands.renderCustomers(item);
                        const currentRow = $('#tr_' + item.id);
                        currentRow.replaceWith(strData);
                        App.showSuccessAlert('Chuyển tiền thành công!');
                        page.dialogs.elements.modalTransfer.modal('hide');
                    });
                })
                .fail((error) => {
                    const responseJSON = error.responseJSON;
                    page.dialogs.elements.errorAreaTransfer.empty();
                    let str = '';

                    $.each(responseJSON, (k, v) => {
                        str += `<label for="${k}Dep">${v}</label>`
                    })
                    page.dialogs.elements.errorAreaTransfer.append(str).removeClass('hide').addClass('show');
                })
        }

        // bắt sự kiện nhấn vô nút update
        page.commands.handleAddEventShowModalUpdate = (customerId) =>{

            page.commands.getCustomerById(customerId).then((data) => {
                page.dialogs.elements.fullNameUp.val(data.fullName);
                page.dialogs.elements.emailUp.val(data.email);
                page.dialogs.elements.phoneUp.val(data.phone);
                page.dialogs.elements.addressUp.val(data.address);

                page.dialogs.elements.modalUpdate.modal('show');
            })
                .catch((error) => {
                    console.log(error);
                })
        }

        // bắt sự kiện nhấn vô nút deposit
        page.commands.handleAddEventShowModalDeposit = (customerId) => {
            page.commands.getCustomerById(customerId).then((data) => {
                customer = data;
                page.dialogs.elements.fullNameDeps.val(customer.fullName);
                page.dialogs.elements.idDeps.val(customer.id);
                page.dialogs.elements.balanceDeps.val(customer.balance);
                page.dialogs.elements.modalDeposit.modal('show');
            })
                .catch((error) => {
                    console.log(error);
                })
        }

        // bắt sự kiện nhấn vô nút withdraw
        page.commands.handleAddEventShowModalWithdraw = (customerId) => {
            page.commands.getCustomerById(customerId).then((data) => {
                customer = data;
                page.dialogs.elements.fullNameWdr.val(customer.fullName);
                page.dialogs.elements.idWdr.val(customer.id);
                page.dialogs.elements.balanceWdr.val(customer.balance);
                page.dialogs.elements.modalWithdraw.modal('show');
            })
                .catch((error) => {
                    console.log(error);
                })
        }

        // bắt sự kiện nhấn vô nút transfer
        page.commands.handleAddEventShowModalTransfer = (customerId) => {
            page.commands.getCustomerById(customerId).then((data) => {
                const sender = data;
                page.dialogs.commands.getAllRecipients(customerId);
                page.dialogs.elements.idSender.val(sender.id);
                page.dialogs.elements.fullNameSender.val(sender.fullName);
                page.dialogs.elements.emailSender.val(sender.email);
                page.dialogs.elements.balanceSender.val(sender.balance);

                page.dialogs.elements.modalTransfer.modal('show');
            })
                .catch((error) => {
                    console.log(error);
                })
        }

        // bắt sự kiện nhấn vô nút delete
        page.commands.handleAddEventRemove = (customerId) => {
            let customerDel = {
                deleted: 1
            }

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        headers: {
                            'accept': 'application/json',
                            'content-type': 'application/json'
                        },
                        type: "PATCH",
                        url: "http://localhost:3000/customers/"+id,
                        data: JSON.stringify(customerDel),
                    })
                        .done((data) => {

                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )

                            let currentRow = $("#tr_" + id);
                            console.log(currentRow);
                            currentRow.remove();

                        })
                }
            })
        }

        page.dialogs.commands.getAllRecipients = (senderId) => {
            $.ajax({
                type: 'GET',
                url: page.url.getAllCustomers+ '/id_ne/'+ senderId
            })
                .done((data) => {
                    page.dialogs.elements.recipientTrf.empty();
                    page.dialogs.elements.recipientTrf.append('<option>----Chọn người nhận----</option>');
                    $.each(data, (i, item) => {
                        let str = page.dialogs.commands.renderRecipientOption(item);
                        page.dialogs.elements.recipientTrf.append(str);
                    })
                })
                .fail((error) => {
                    console.log(error);
                })
        }

        page.dialogs.commands.renderRecipientOption = (obj) => {
            return `
                <option value="${obj.id}">(${obj.id}) - ${obj.fullName}</option>
            `;
        }

        page.dialogs.commands.calculateTotal = () => {
            let transferMoney = +page.dialogs.elements.transferMoney.val();
            let amountNumber = parseFloat(transferMoney);
            let fee = 10;
            page.dialogs.elements.total.val(amountNumber*(1 + fee/100));
        }

        page.initializeControlEvent = () => {
            page.elements.btnShowCreateModal.on('click', () => {
                page.dialogs.elements.modalCreate.modal('show');


            })
            page.dialogs.elements.btnCreate.on('click', () => {
                page.dialogs.commands.create();
            })
            page.elements.tbCustomerBody.on('click','.edit', function() {
                customerId = $(this).data('id');
                page.dialogs.elements.frmUpdate.validate().resetForm();
                page.dialogs.elements.errorAreaUpdate.removeClass("show").addClass("hide").empty();
                $("#frmUpdate input.error").removeClass("error");
                page.commands.handleAddEventShowModalUpdate(customerId);
            })
            page.elements.tbCustomerBody.on('click','.deposit', function() {
                customerId = $(this).data('id');
                page.dialogs.elements.frmDeposit.validate().resetForm();
                page.dialogs.elements.errorAreaDeposit.removeClass("show").addClass("hide").empty();
                $("#frmDeposit input.error").removeClass("error");
                page.commands.handleAddEventShowModalDeposit(customerId);
            })
            page.elements.tbCustomerBody.on('click','.withdraw', function() {
                customerId = $(this).data('id');
                page.dialogs.elements.frmWithdraw.validate().resetForm();
                page.dialogs.elements.errorAreaWithdraw.removeClass("show").addClass("hide").empty();
                $("#frmWithdraw input.error").removeClass("error");
                page.commands.handleAddEventShowModalWithdraw(customerId);
            })
            page.elements.tbCustomerBody.on('click','.transfer', function() {
                customerId = $(this).data('id');
                page.dialogs.elements.frmTransfer.validate().resetForm();
                page.dialogs.elements.errorAreaTransfer.removeClass("show").addClass("hide").empty();
                $("#frmTransfer input.error").removeClass("error");
                page.commands.handleAddEventShowModalTransfer(customerId);
            })
            page.dialogs.elements.transferMoney.on('input', ()=>{
                page.dialogs.commands.calculateTotal();
            });
            page.elements.tbCustomerBody.on('click','.delete', function() {
                customerId = $(this).data('id');
                // page.dialogs.elements.frmTransfer.validate().resetForm();
                // page.dialogs.elements.errorAreaTransfer.removeClass("show").addClass("hide").empty();
                // $("#frmTransfer input.error").removeClass("error");
                page.commands.handleAddEventRemove(customerId);
            })

            // bắt sự kiện nhấn vô nút save edit

            page.dialogs.elements.btnUpdate.on('click', () => {

                page.dialogs.elements.frmUpdate.trigger("submit");
            })

            // bắt sự kiện nhấn vô nút save deposit
            page.dialogs.elements.btnSaveDeposit.on('click', () => {

                page.dialogs.elements.frmDeposit.trigger("submit");

            })

            // bắt sự kiện nhấn vô nút save withdraw
            page.dialogs.elements.btnSaveWithdraw.on('click', () => {

                page.dialogs.elements.frmWithdraw.trigger("submit");

            })

            // bắt sự kiện nhấn vô nút save transfer
            page.dialogs.elements.btnSaveTransfer.on('click', () => {

                page.dialogs.elements.frmTransfer.trigger("submit");

            })

        }

        page.loadData = () => {
            page.commands.getAllCustomers();
        }


        page.dialogs.elements.frmUpdate.validate({
            rules: {
                fullNameUp: {
                    required: true
                },
                emailUp: {
                    required: true
                }
            },
            messages: {
                fullNameUp:{
                    required: "Bắt buộc nhập Full Name"
                },
                emailUp: {
                    required: "Email là bắt buộc"
                }
            },
            errorLabelContainer: "#modalUpdate .error-area",
            errorPlacement: function (error) {
                error.appendTo("#modalUpdate .error-area");
            },
            showErrors: function(errorMap, errorList) {
                if (this.numberOfInvalids() > 0) {
                    page.dialogs.elements.errorAreaUpdate.removeClass("hide").addClass("show");
                } else {
                    page.dialogs.elements.errorAreaUpdate.removeClass("show").addClass("hide").empty();
                    $("#frmUpdate input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: function () {
                page.dialogs.commands.update();
            }
        })

        page.dialogs.elements.frmDeposit.validate({
            rules: {
                transactionAmount: {
                    required: true
                }
            },
            messages: {
                transactionAmount:{
                    required: "Vui lòng nhập số tiền cần nạp"
                }
            },
            errorLabelContainer: "#modalDeposit .error-area",
            errorPlacement: function (error) {
                error.appendTo("#modalDeposit .error-area");
            },
            showErrors: function(errorMap, errorList) {
                if (this.numberOfInvalids() > 0) {
                    page.dialogs.elements.errorAreaDeposit.removeClass("hide").addClass("show");
                } else {
                    page.dialogs.elements.errorAreaDeposit.removeClass("show").addClass("hide").empty();
                    $("#frmDeposit input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: function () {
                page.dialogs.commands.deposit();
            }
        })

        page.dialogs.elements.frmWithdraw.validate({
            rules: {
                transactionAmountWdr: {
                    required: true
                }
            },
            messages: {
                transactionAmountWdr:{
                    required: "Vui lòng nhập số tiền cần nạp"
                }
            },
            errorLabelContainer: "#modalWithdraw .error-area",
            errorPlacement: function (error) {
                error.appendTo("#modalWithdraw .error-area");
            },
            showErrors: function(errorMap, errorList) {
                if (this.numberOfInvalids() > 0) {
                    page.dialogs.elements.errorAreaWithdraw.removeClass("hide").addClass("show");
                } else {
                    page.dialogs.elements.errorAreaWithdraw.removeClass("show").addClass("hide").empty();
                    $("#frmWithdraw input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: function () {
                page.dialogs.commands.withdraw();
            }
        })

        page.dialogs.elements.frmTransfer.validate({
            rules: {
                transferMoney: {
                    required: true
                }
            },
            messages: {
                transferMoney:{
                    required: "Vui lòng nhập số tiền cần chuyển"
                }
            },
            errorLabelContainer: "#modalTransfer .error-area",
            errorPlacement: function (error) {
                error.appendTo("#modalTransfer .error-area");
            },
            showErrors: function(errorMap, errorList) {
                if (this.numberOfInvalids() > 0) {
                    page.dialogs.elements.errorAreaTransfer.removeClass("hide").addClass("show");
                } else {
                    page.dialogs.elements.errorAreaTransfer.removeClass("show").addClass("hide").empty();
                    $("#frmTransfer input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: function () {
                page.dialogs.commands.transfer();
            }
        })
        $(() => {
            page.loadData();
            page.initializeControlEvent();
        })
    </script>
</body>
</html>