<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<h3>Add Song</h3>
<p>
    <a th:href="@{/songs}">
        Back to song list
    </a>
</p>
<div id="form">
    <form th:action="@{/songs/save}" th:object="${songForm}"
          method="POST" novalidate="novalidate" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <table>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" id="name" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td><label for="description">Artist</label></td>
                <td><input type="text" id="description" th:field="*{artist}"/></td>
            </tr>
            <tr>
                <td><label for="genre"></label>Select genre music</td>
                <td>
                    <select id="genre" th:field="*{genre}">
                        <option value="pop">Pop</option>
                        <option value="rock">Rock</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="song">Song</label></td>
                <td><input type="file" id="song" th:field="*{song}"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Save"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>