<th:block th:fragment="modalCreate">
    <!-- Modal Create-->
    <div class="modal fade" id="modalCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Modal Create</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="error-area hide"></div>
                    <form method="post" id="frmCreate">
                        <div class="row mb-3">
                            <label for="name">Tên</label>
                            <input type="text" id="name" name="name" placeholder="Nhập tên" class="form-control">
                        </div>
                        <div class="row mb-3">
                            <label for="description">Mô tả</label>
                            <input type="text" id="description" name="description" placeholder="Nhập mô tả" class="form-control">
                        </div>
                        <div class="row mb-3">
                            <label>Danh sách playlist</label>
                            <div class="col-lg-12 mt-3 mb-3">
                                <input type="checkbox" name="tags" class="tags" id="haiHuoc" value="1">
                                <label class="me-3" for="haiHuoc">Hài hước</label>
                                <input type="checkbox" name="tags" class="tags" id="kinhDi" value="2" >
                                <label class="me-2" for="kinhDi">Kinh dị</label>
                                <input type="checkbox" name="tags" class="tags" id="trinhTham" value="3">
                                <label class="me-2" for="trinhTham">Trinh thám</label>
                                <input type="checkbox" name="tags" class="tags" id="hanhDong" value="4">
                                <label class="me-2" for="hanhDong">Hành động</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="url">Link video</label>
                            <input type="text" id="url" name="url" placeholder="Nhập url" class="form-control">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnCreate">
                        <i class="fas fa-plus"></i>
                        Save changes</button>
                </div>
            </div>
        </div>
    </div>
</th:block>