<th:block th:fragment="modalTransfer">
  <!-- Modal Transfer-->
  <div class="modal fade" id="modalTransfer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Modal Transfer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="error-area hide"></div>
          <form method="post" id="frmTransfer">
            <div class="row">
              <div class="col-lg-3 mb-3">
                <label class="fw-bold">Sender ID</label>
                <input type="text" class="form-control" id="idSender" readonly>
              </div>
              <div class="col-lg-3 mb-3">
                <label class="fw-bold">Sender name</label>
                <input type="text" class="form-control" id="fullNameSender" readonly>
              </div>
              <div class="col-lg-3 mb-3">
                <label class="fw-bold">Email</label>
                <input type="text" class="form-control" id="emailSender" readonly>
              </div>
              <div class="col-lg-3 mb-3">
                <label class="fw-bold">Sender balance ($)</label>
                <input type="text" class="form-control" id="balanceSender" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <label class="form-label">Recipient Name</label>
                <select class="form-select form-control" id="recipientTrf" name="recipientTrf"></select>
              </div>
              <div class="col-lg-3">
                <label class="fw-bold">Transfer Amount ($)</label>
                <input type="text" class="form-control" id="transferMoney" name="transferMoney">
              </div>
              <div class="col-lg-3">
                <label class="fw-bold">Fees (%)</label>
                <input type="text" class="form-control" value="10" readonly>
              </div>
              <div class="col-lg-3">
                <label class="fw-bold">Transaction Amount</label>
                <input type="text" class="form-control" readonly id="total">
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btnSaveTransfer">
            <i class="fas fa-exchange-alt"></i>
            Transfer</button>
        </div>
      </div>
    </div>
  </div>
</th:block>